/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f9fafb; /* Gray-50 */
}

::-webkit-scrollbar-thumb {
    background-color: #cbd5e1; /* Slate-300 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8; /* Slate-400 */
}